.inv_body{

    width: 900px;
height: 878px;
}
.inv_text{
    margin-left: 50px;
}
.apppic{
    width: 397px;
height: 59px;
margin-top: 70px;

}
.foo1{
    width: 400px;
    height: 316px;

    background: url('../assets/phonepic.png') lightgray 100% 50% / cover no-repeat;
    margin-left: 20px;
}
.foo2{

    color: #C8C8C8;

    font-family: "LINE Seed Sans TH";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;

}
.foo3{
    margin-top: 12px;
    color: #000;
    font-family: "LINE Seed Sans TH";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;

}
.foo4{
    width: 333px;
    margin-top:24px;
    color: #000;
    font-family: "LINE Seed Sans TH";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;

}
.foo5{
    margin-top: 24px;
    width: 323px;
    height: 48px;
    flex-shrink: 0;
    background: url('../assets/apppic.png')  50% / cover no-repeat;
    margin-left: 20px;

}

.inv_header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px 40px; /* Adjust padding to match design */
    box-sizing: border-box;
    color: #929292;
  
  font-family: "LINE Seed Sans TH App";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 179.167% */
  }
  
  .inv_logo_box {
    width: 281px;
    height: 72px; /* Adjust logo size as needed */
    flex-shrink: 0;
    margin-right: 40px; /* Adjust margin between logo and menu */
  }
  
  .inv_logo_box img {
  
  }
  
  .inv_appbar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .inv_menu {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    color: #929292;
  
    font-family: "LINE Seed Sans TH";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; /* 179.167% */
    color: #929292;
  }
  
  .inv_menu_box {
    flex-grow: 1;
    text-align: center;
  }
  
  .inv_menu_box a {
    color: inherit;
    text-decoration: none;
    padding: 10px 0;
  }
  
  .inv_button_signin {
    width: 123px;
    height: 43px;
    border-radius: 5px;
    background: #3affbb;
    color: #000;
    color: #000;

    text-align: center;
    font-family: "LINE Seed Sans TH";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.4px;
  }
  
  .inv_underline {
    width: 100%;
    height: 2px;
    background: #d9d9d9;
    margin-top: 10px;
  }
  