.momofooter{
  width: 420px;
  height: 357px;
}
.foot3{

  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
  opacity: 0.4;
  margin-left: 16px;

}
.foot1{
  padding-top: 32px;
  width: 170px;
  height: 44px;
  margin-left: 16px;

}
.foot2{
  color: #FFF;

font-family: "LINE Seed Sans TH";
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-left: 16px;

}
.momofooter{
  background-color: #3E3E3E;
}
.hi3{
  background: url('../assets/hi3.png') 50% / cover no-repeat;
  border-radius: 30px 0px 70px 0px;

}
.hi2{
  background: url('../assets/hi2.png') 50% / cover no-repeat;
  border-radius: 30px 0px 70px 0px;

}
.hi1{
  background: url('../assets/hi1.png') 50% / cover no-repeat;
  border-radius: 30px 0px 70px 0px;

}
.hi4{
  background: url('../assets/hi4.png') 50% / cover no-repeat;
  border-radius: 30px 0px 70px 0px;

}
a { color: inherit; } 

a{
  text-decoration: none;
}

a:visited{
  color: black;
}
.appbar a{
  text-decoration: none;
}
.momofooter a:visited{
  color:white;
}
.appbar a:visited{
  color: 
  #929292;
}
.lord{

 
}

.logo_box img {
  width: 281px;
  height: 72px;
  padding-left: 40px;
}
.header {
  display: flex;
  padding-top: 47px;
}

.underline {
  width: 1075px;
  height: 2px;
  background: #d9d9d9;
  margin-top: 10px;
}
.button_signin {
  min-width: 123px;
  height: 43px;

  border-radius: 5px;
  background: #3affbb;
  color: #000;

  text-align: center;
  font-family: "LINE Seed Sans TH";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;
}
.menu_box {
}
.menu {
  display: flex;
  color: #929292;
  gap: 75px;
  white-space: nowrap;
  font-family: "LINE Seed Sans TH";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  padding-right: 55px;
  align-items: flex-end;
}
.appbar {
  margin-left: 46px;
  display: flex;
  gap: 0;
  flex-direction: column;
}
.main_img {
  padding-left: 82px;
  position: relative;
  margin-top: 40px;
  height: 884px;
  background: url("../assets/mainphoto.png") lightgray 0px -0.346px / 100% 100% no-repeat;
  width: 1445px;
  
}
.service{
  width: 1512px;
}
.img_content {
  position: absolute;
  top: 451px;
  color: #fff;

  text-shadow: 3px 4px 30px #000;
  font-family: "LINE Seed Sans TH";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}
.img_subcontent {
  position: absolute;
  top: 626px;

  color: #fff;

  text-shadow: 2px 2px 30px #000;
  font-family: "LINE Seed Sans TH";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 130.556% */
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.img_content,
.img_subcontent {
  animation-name: slideInFromLeft;
  animation-duration: 1s; /* Adjust the time as needed */
  animation-fill-mode: forwards; /* Keeps the element in the final state */
  animation-timing-function: ease-out; /* Adjust the timing function as needed */
}

.img_subcontent {
  animation-delay: 0.5s; /* Adjust the delay as needed */
}
.service_box_top {
  position: relative;
  width: 246px;
  height: 562px;
  border-radius: 0px 0px 70px 0px;
  background: #00ba9d;
}
.service_box_bottom {
  position: absolute;
  top: 91px;
  width: 246px;
  height: 471px;
  flex-shrink: 0;
  border-radius: 200px 0px 70px 0px;
  background: #114940;
}
.service {
  padding-top: 47px;

  display: flex;
  
}
.service_box {
    color: #FFF;
font-family: "LINE Seed Sans TH";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 110px; /* 343.75% */
    text-align: center;
  display: flex;
  gap: 28px;
  padding-left: 69px;
}

.service_content {
  padding-left: 77px;
  width: 100%;
}
.service_content_head {
  color: #3a3a3a;
  font-family: "LINE Seed Sans TH";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.service_content_line{
    width: 494px;
height: 2px;
background: #6D6D6D;
}
.service_content_typo{
    margin-top: 47px;
    color: #3A3A3A;
font-family: "LINE Seed Sans TH";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.service_button{
    width: 323px;
height: 67px;
flex-shrink: 0;
border-radius: 15px;
background: #12574C;
margin-left: auto;
margin-right: auto;
margin-top:53px;
color: #FFF;
text-align: center;
font-family: "LINE Seed Sans TH";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 280%; /* 458.333% */
}
.footer_green{
    width: 1512px;

    height: 781px;
    background: linear-gradient(to bottom, #00BA9D, white);


}
.footer_green_content{
    color: #FFF;
    
    text-align: center;
    font-family: "LINE Seed Sans TH";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 141.667% */
    padding-top: 70px;


}
.footer_green_logo{
    display: flex;
    justify-content: center;
    gap:47px;
    padding-top: 66px;
}
.footer_green_logo img{
    width: 106px;
    height: 106px;
}
.footer_black{
  display: flex;
  width: 1512px;
    color:white;
    height: 193px;
    background: #3E3E3E;
    align-items: center;
}
.footer_black a{
  text-decoration: none;
}
.footer_black a:visited{
  color:white;
}
.footer_log img{
  width: 38px;
height: 37px;
}
@media (min-width: 1530px) {
  .lord{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
   
  }
}
.scrollable-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* For momentum scrolling on iOS devices */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
